@model IEnumerable<DBL.Model.Productvariations>
@{
    ViewData["Title"] = "Productlist";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-7">
                        <h5 class="font-weight-light text-sm">Products</h5>
                    </div>
                    <div class="col-sm-5">
                        <a asp-action="Addproduct" asp-controller="Products" class="btn btn-xs btn-info float-right" data-target="#producdatamodal" data-toggle="modal">Add Product</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped compact nowrap text-nowrap flex-nowrap table-sm font-weight-light" id="productdatatable">
                    <thead>
                        <tr>
                            <th class="font-weight-light">Name</th>
                            <th class="font-weight-light">Brand</th>
                            <th class="font-weight-light">Description</th>
                            <th class="font-weight-light">Features</th>
                            <th class="font-weight-light">Specifications</th>
                            <th class="font-weight-light">What in Box</th>
                            <th class="font-weight-light">In stock</th>
                            <th class="font-weight-light">Price</th>
                            <th class="font-weight-light">Best Price</th>
                            <th class="font-weight-light">Image path(s)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                         {
                            <tr>
                                <td class="font-weight-light">@item.Productvariationname</td>
                                <td class="font-weight-light">@item.Productbrand</td>
                                @*<td class="font-weight-light">@(item.Productdesc == null || item.Productdesc == "") ? <a href="#" class="btn btn-xs btn-info">Describe</a> : @item.Productdesc</td>*@

                                <td class="font-weight-light">@if (item.Productdesc == null || item.Productdesc == "") {  <a href="@Url.Action("Editproductvariationfiels","Products",new {Variationcode=item.Productvarcode,Variationname=item.Productvariationname,variationvalname="Productdescription" })" class="btn btn-xs btn-info" data-target="#producdatamodal" data-toggle="modal">Describe</a>} else { @item.Productdesc } </td>
                                <td class="font-weight-light">@if (item.Productfeatures == null || item.Productfeatures == "") {  <a href="@Url.Action("Editproductvariationfiels","Products",new {Variationcode=item.Productvarcode,Variationname=item.Productvariationname,variationvalname="Productfeatures" })" class="btn btn-xs btn-info" data-target="#producdatamodal" data-toggle="modal">Feature</a>} else { @item.Productfeatures } </td>
                                <td class="font-weight-light">@if (item.Productspec == null || item.Productspec == "") { <a href="@Url.Action("Editproductvariationfiels","Products",new {Variationcode=item.Productvarcode,Variationname=item.Productvariationname,variationvalname="Productspecifications" })" class="btn btn-xs btn-info" data-target="#producdatamodal" data-toggle="modal">Specifications</a>} else { @item.Productspec } </td>
                                <td class="font-weight-light">@if (item.Productwhatsinbox == null || item.Productwhatsinbox == "") {  <a href="@Url.Action("Editproductvariationfiels","Products",new {Variationcode=item.Productvarcode,Variationname=item.Productvariationname,variationvalname="Productwhatsinbox" })" class="btn btn-xs btn-info" data-target="#producdatamodal" data-toggle="modal">Whatsinbox</a>} else { @item.Productwhatsinbox } </td>
                                <td class="font-weight-light">@if ( item.Productstock == 0) {  <a href="@Url.Action("Editproductvariationfiels","Products",new {Variationcode=item.Productvarcode,Variationname=item.Productvariationname,variationvalname="Productinstcock" })" class="btn btn-xs btn-info" data-target="#producdatamodal" data-toggle="modal">Stock</a>} else { @item.Productstock } </td>
                                <td class="font-weight-light">@if ( item.Productprice == 0) {  <a href="@Url.Action("Editproductvariationfiels","Products",new {Variationcode=item.Productvarcode,Variationname=item.Productvariationname,variationvalname="Productprice" })" class="btn btn-xs btn-info" data-target="#producdatamodal" data-toggle="modal">Price</a>} else { @item.Productprice } </td>
                                <td class="font-weight-light">@if ( item.Productdprice == 0) {  <a href="@Url.Action("Editproductvariationfiels","Products",new {Variationcode=item.Productvarcode,Variationname=item.Productvariationname,variationvalname="Productbestprice" })" class="btn btn-xs btn-info" data-target="#producdatamodal" data-toggle="modal">Best Price</a>} else { @item.Productdprice } </td>
                                <td class="font-weight-light">@if ( item.Productimagepath == null || item.Productimagepath == "") {  <a href="@Url.Action("Editproductvariationfiels","Products",new {Variationcode=item.Productvarcode,Variationname=item.Productvariationname,variationvalname="Imagepaths" })" class="btn btn-xs btn-info" data-target="#producdatamodal" data-toggle="modal">Image(s)</a>} else { @item.Productimagepath } </td>

                            </tr>
                         }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mt-5" id="producdatamodal" tabindex="-1" role="dialog" aria-labelledby="producdatamodalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/products.js"></script>
    <script src="~/lib/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/lib/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/plugins/toastr/toastr.min.js"></script>
    <script src="~/lib/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#productdatatable').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });

        });

    </script>
}
