@model IEnumerable<DBL.Model.Productvariations>
@{
    ViewData["Title"] = "Productlist";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-7">
                        <h5 class="font-weight-light text-sm">Products</h5>
                    </div>
                    <div class="col-sm-5">
                        <a asp-action="Addproduct" asp-controller="Products" class="btn btn-xs btn-info float-right" data-target="#producdatamodal" data-toggle="modal">Add Product</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped compact nowrap text-nowrap flex-nowrap table-sm font-weight-light" id="productdatatable">
                    <thead>
                        <tr>
                            <th class="font-weight-light">Name</th>
                            <th class="font-weight-light">Brand</th>
                            <th class="font-weight-light">Description</th>
                            <th class="font-weight-light">Features</th>
                            <th class="font-weight-light">Specifications</th>
                            <th class="font-weight-light">What in Box</th>
                            <th class="font-weight-light">In stock</th>
                            <th class="font-weight-light">Price</th>
                            <th class="font-weight-light">Discounted Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                         {
                            <tr>
                                <td class="font-weight-light">@item.Productvariationname</td>
                                <td class="font-weight-light">@item.Productbrand</td>
                                <td class="font-weight-light">@item.Productdesc</td>
                                <td class="font-weight-light">@item.Productfeatures</td>
                                <td class="font-weight-light">@item.Productspec</td>
                                <td class="font-weight-light">@item.Productwhatsinbox</td>
                                <td class="font-weight-light">@item.Productstock</td>
                                <td class="font-weight-light">@item.Productprice</td>
                                <td class="font-weight-light">@item.Productdprice</td>
                            </tr>
                         }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mt-5" id="producdatamodal" tabindex="-1" role="dialog" aria-labelledby="producdatamodalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/products.js"></script>
    <script src="~/lib/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/lib/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/plugins/toastr/toastr.min.js"></script>
    <script src="~/lib/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#productdatatable').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });

        });

    </script>
}
